<h1>DAJ MI WSTĄŻKĘ BŁĘKITNĄ2</h1>
<p>Daj mi wstążkę błękitną — oddam ci ją<br />
Bez opóźnienia...<br />
Albo - daj mi cień twój z giętką twą szyją:<br />
— Nie! nie chcę cienia.</p>

<p>Cień zmieni się, gdy ku mnie skiniesz ręką,<br />
Bo on nie kłamie!<br />
Nic od ciebie nie chcę, śliczna panienko,<br />
Usuwam ramię...</p>

<p>Bywałem ja od Boga nagrodzonym,<br />
Rzeczą mniej wielką:<br />
Spadłym listkiem, do szyby przyklejonym,<br />
Deszczu kropelką.</p>