<h1>MOJA PIOSNKA II</h1>
<p>Do kraju tego, gdzie kruszynę chleba<br />
Podnoszą z ziemi przez uszanowanie<br />
Dla darów Nieba....<br />
Tęskno mi, Panie...</p>

<p>Do kraju tego, gdzie winą jest dużą<br />
Popsować gniazdo na gruszy bocianie,<br />
Bo wszystkim służą...<br />
Tęskno mi, Panie...</p>

<p>Do kraju tego, gdzie pierwsze ukłony<br />
Są - jak odwieczne Chrystusa wyznanie:<br />
„Bądź pochwalony!”<br />
Tęskno mi, Panie...</p>

<p>Tęskno mi jeszcze i do rzeczy innej,<br />
Której już nie wiem, gdzie leży mieszkanie,<br />
Równie niewinnej...<br />
Tęskno mi, Panie...</p>

<p>Do bez-tęsknoty i do bez-myślenia,<br />
Do tych, co mają tak za tak - nie za nie-<br />
Bez światło-cienia...<br />
Tęskno mi, Panie...</p>

<p>Tęskno mi owdzie, gdzie któż o mnie stoi?<br />
I tak być musi, choć się tak nie stanie<br />
Przyjaźni mojej!...<br />
Tęskno mi, Panie...</p>