<h1>AERUMNARUM PLENUS</h1>
<p>1</p>
<p>Czemu mi smutno i czemu najsmutniéj,<br />
Mamże ci śpiewać ja - czy świat i czas?...<br />
Och! bo mi widnym strój tej wielkiej lutni,<br />
W którą wplątany duch każdego z nas.</p>

<p>2</p>
<p>I wiem, że każda radość tu ma drugę,<br />
Poniżej siebie, przeciw radą łzę,<br />
I wiem, że każdy byt ma swego sługę,<br />
I wiem, że nieraz, błogosławiąc, klnę.</p>

<p>3</p>
<p>Czemu mi smutno? - bo nierad bym smucić,<br />
Ani przed sobą kłamstwa rzucać cień,<br />
By skryć, jak czego nie można odrzucić,<br />
By uczcić, czego wyciąć trudno w pień.</p>

<p>4</p>
<p>Więc to mi smutno - aż do kości smutno,<br />
I to - że nie wiem, czy ten ludzi stek<br />
Ma już tak zostać komedią-okrutną<br />
I spać, i nucić, śpiąc: „To - taki wiek!”</p>

<p>5</p>
<p>Więc to mi smutno, i tak coraz gorzéj,<br />
Aż od-człowiecza się i pierś, i byt,<br />
I nie wiem, czy już w akord się ułoży,<br />
I nie wiem, czy już kiedy będę syt!...</p>

<p>6</p>
<p>I nie wiem -- czy już będę mógł nie wiedzieć,<br />
Że coraz żywot mniej uczczony tu -<br />
Że coraz łatwiej przychodzi powiedzieć,<br />
Ze snu się budząc: „Wróćmyż znów do snu!”</p>

<p><small>1850</small></p>