<h1>DO OBYWATELA JOHNA BROWN</h1>
<p><small>(Z listu pisanego do Ameryki w 1859, listopada)</small></p>

<p>Przez Oceanu ruchome płaszczyzny<br />
Pieśń Ci, jak mewę, posyłam, o! Janie...</p>

<p>Ta lecieć długo będzie do ojczyzny<br />
Wolnych - bo wątpi już: czy ją zastanie?...<br />
- Czy też, jak promień Twej zacnej siwizny,<br />
Biała - na puste zleci rusztowanie:<br />
By kata Twego syn rączką dziecinną<br />
Kamienie ciskał na mewę gościnną!</p>

<p>Więc, niźli szyję Twoją obnażoną<br />
Spróbują sznury, jak jest nieugiętą;</p>

<p>Więc, niźli ziemi szukać poczniesz piętą,<br />
By precz odkopnąć planetę spodloną -<br />
A ziemia spod stóp Twych, jak płaz zlękniony,<br />
Pierzchnie -<br />
więc, niźli rzekną: „Powieszony...” -<br />
Rzekną i pojrzą po sobie, czy kłamią? --</p>

<p>Więc, nim kapelusz na twarz Ci załamią,<br />
By Ameryka, odpoznawszy syna,<br />
Nie zakrzyknęła na gwiazd swych dwanaście:<br />
„Korony mojej sztuczne ognie zgaście,<br />
Noc idzie - czarna noc z twarzą Murzyna!”</p>

<p>Więc, nim Kościuszki cień i Waszyngtona<br />
Zadrży - początek pieśni przyjm, o! Janie...</p>

<p>Bo pieśń nim dojrzy, człowiek nieraz skona,<br />
A niźli skona pieśń, naród pierw wstanie.</p>