<h1>DO MEGO BRATA LUDWIKA</h1>
<p>Na pismo moje garść obcego piasku,<br />
Na północ wiele, wiele rzucam myśli...<br />
Żeby ci posłać cały świat w obrazku<br />
I uogólnić, co się dniowo kréśli:<br />
To z ziemi, którą ujuczyłem głoski,<br />
Z onego pisma mało-większej wagi<br />
I z onych myśli, co, jak atom Boski,<br />
Zdają się ciemne żegnać sarkofagi-<br />
Przez ludzki nałóg glob utoczę drobny<br />
I puszczę na świat - niechby wrzał, osobny.</p>

<p>Atomów władcy, marzeń wodze nikłych,<br />
Z dzielnicy naszej cieszmy się i rządźmy;<br />
Nadzwyczajnego wiele jest u zwykłych,<br />
Popatrzmy w niebo, tam górnymi bądźmy,<br />
A ręce w zwyczaj ujarzmiwszy - prządźmy...</p>

<p>Na wielką ucztę do górnego sklepu,<br />
Mało jest, kto by wszedł jak Elias prorok;<br />
Płomiennej osi nie z onego szczepu,<br />
Co wiosna rodzi, zima trzebi co rok,<br />
Lecz z tego krzesać, rosnącego w jasność,<br />
Co Panu winien, że nie może zgasnąć.</p>

<p>Bo nie zginęło żadne utęsknienie,<br />
I żadna boleść nie przewiała marnie,<br />
I żaden uśmiech błahy nieskończenie-<br />
Jest taki anioł, co skrzydłami garnie<br />
I śmiech, i boleść, i to niedotkliwe<br />
Człowieka chaos bierze w dłoń jak żywe.</p>

<p>A droga taka jest na wieżę życia,<br />
Że wiele szczeblów idzie coraz wiotszych,<br />
Jaśniejszych coraz, przeźroczystszych, złotszych,<br />
Jak różne sny są, różne serca bicia:<br />
A który szczebel dłonią witasz chciwie<br />
I obłokowe czujesz w nim widziadło-<br />
Nogami zdepczesz, stojąc na łuczywie,<br />
Bo już ci skrzepło, w rzecz się ścięło - zbladło.</p>

<p>To rzeczy dola - wielem widział rzeczy...<br />
Młodości dola... sny kochałem ciemne;<br />
Z tych jedne były mdłe i nic do rzeczy;<br />
Jak kwiaty drugie, lekkie i nadziemne,<br />
O trzon łodygi wyższe kału. Z mleczy,<br />
Co po urwaniu perłą wzeszły białą,<br />
Mniemałem słodycz wyssać - jakże mało!</p>

<p>A jam się otruł... wiesz, że byłem struty?<br />
(Wspomnienie równą ma trucizny siłę.)<br />
Co teraz powiem, będzie złe i zgniłe,<br />
I szkieletowe jako ptak zepsuty,<br />
Co z nieba zleciał wietrznym zwiany słupem<br />
I we mrowisku się przewala - trupem...</p>

<p>Z miłości szydzić, mszcząc się na uczuciu,<br />
Albo teorii kilka zimnych złożyć,<br />
Jak kilka głazów na Bożnicę Psuciu,<br />
I młode serce ziębić lub ubożyć-<br />
To jeszcze kochać, jeszcze być zalotnym,<br />
A czemu nie chciał Boski ogień służyć,<br />
Starać się iskrą lub płomykiem błotnym<br />
W niewiadomości ciemnych dróg przedłużyć...<br />
Lecz być wesołym, ile ludziom wolno,<br />
I tyle smutnym, ile ludzie muszą;<br />
I widzieć jasno, jak tę różę polną<br />
Dla kilku kłosów nieobacznie kruszą,<br />
I jeszcze mniemać, wierzyć, że tak muszą...</p>

<p>(Do świata, który-ć obiecałem stworzyć,<br />
Był piasek listu, myśl i przestrzeń drogi,<br />
Lecz mógłżem sądzić, że łzę trzeba włożyć<br />
Dla prawdziwości bytu czy przestrogi?)</p>

<p>Mówiono do mnie: „Szczęście na tym świecie<br />
Wtedy jest tylko, gdy nieszczęścia nié ma.”<br />
Odpowiedziałem: „Czymże słońce w lecie,<br />
Co otwartymi patrzy w świat oczyma?<br />
Czy to jest doba, kiedy cieniu nié ma?”</p>

<p>Mówiono do mnie, acz innymi słowy:<br />
Że z zapomnienia byt powstaje nowy.<br />
O słodki bycie w szczęścia niepamięci,<br />
Kiedy się tobie przypatruję bliżej,<br />
Ty - bez uczucia, wolny trosk i chęci-<br />
Zdajesz się wszego Człowieczeństwa wyżej.</p>

<p>Jeżeli jesteś - jeżli czuwasz?... bycie!<br />
Co ani zbawić, ani umiesz zdradzić,<br />
Dlategoś stanął na doświadczeń szczycie,<br />
By nie umierać z nami - ale radzić.<br />
Przeklęte rady!...</p>

<p>Jeszcze, jeszcze - może<br />
I na tej ziemi, choć jest kału stekiem,<br />
Znajdzie się kilka rzeczy wielkich: morze<br />
I to, co mędrcy nazywają - wiekiem,<br />
I pączek róży, wreszcie grób, a przed nim<br />
Wszystko, co śmiesznym zowią i powszednim,<br />
I to, co wielkie nosi imię, wszystko!<br />
I cała ziemia wielką jest artystką.</p>

<p>Artyzmu ziemi byłem zwolennikiem,<br />
Na wielkie morze i dziś patrzeć lubię,<br />
Na pączek róży także - lubo z nikim-<br />
I w doczesności się pijanej gubię,<br />
Nie śmiejąc wiekiem nazwać - i osądzić,<br />
Że taki ogrom czasu można - błądzić.</p>

<p>A w grobie moim widzę podobieństwa...<br />
Bo jakże mało będzie ze mnie: popiół;<br />
Ni to radości godła, ni męczeństwa,<br />
Ni tego słowa nad grobowcem: dopiął!<br />
Ni róży polnej - nic, krom jednej z wiela<br />
Tajemnic Pańskich: znaku Zbawiciela.</p>

<p>Ludwiku, tobie zwykłem był spowiadać<br />
Niedokończonych mar ogromne dzieje.<br />
Widziałeś skrzydła - przyszło mi upadać,<br />
Lecz jeszcze upaść nie jest czas - i dnieje-<br />
I widzę obłok z runem bardzo białym,<br />
Jeżeli ten jest - Bracie! - będę stałym.</p>

<p>Jak mało rzeczy pewnych jest na ziemi:<br />
Na każdą słodycz można rzucić prochy,<br />
Na boleść trudniej - lecz się złączy z niemi,<br />
Obiedwie córy z jednejże macochy,<br />
I obie ku nam lecą z uściśnieniem,<br />
Jak pokrewieństwo - czym? - niezrozumieniem.</p>

<p>A jednak ziemi kląć nie będę wcześnie,<br />
Stanę się dla niej, czym się dla mnie stała;<br />
Nie jestem duchem, więc się czasem weśnię,<br />
I kilka moich dni odrobię z ciała,<br />
Z umiejętności tak kosztownej - trudu,<br />
Co ludziom wschodzi, kwitnie mimo ludu.</p>

<p>Że w rzeczach, które człowiek przedsiębierze,<br />
Jest pewna cząstka, pewny cień własności,<br />
To moją będzie - myśl o zgasłym wierzę;<br />
Bo odwyknąłem w szczęście mieć ufności,<br />
Bo z wiarą w jesień, tym północy godłem,<br />
Na każdy listek patrzę...</p>

<p>...bo się zwiodłem!</p>

<p>Co tobie powiem i co właśnie piszę,<br />
Co ukleconym zowię sfer obrotem,<br />
To jeszcze starczy na czas, nim usłyszę<br />
Anioła wielkim mówiącego grzmotem.<br />
- I dnie opuszczać będę, jak klawisze,<br />
Kiedy je smutny dotknął z nawyknienia,<br />
A nie śmie ciszy zbudzić - i - cierpienia.</p>

<p><small>Florencja, 1844</small></p>