<h1>EPOS-NASZA</h1>
<p>I</p>
<p>Z którego dziejów czytać się uczyłem,<br />
Rycerzu! - piosnkę zaśpiewam i tobie.<br />
Wysoki, właśnie obrócony tyłem<br />
Do słońca, które złoci się na żłobie<br />
I, po pancerzu przebiegłszy promieniem,<br />
Z osieroconym bawi się strzemieniem...</p>

<p>II</p>
<p>Liców twych - wyznam - opiewać nie mogę,<br />
Bowiem rozlałeś profil swój na wielu.<br />
Lecz serce? - czuję - i podzielam trwogę<br />
O bohatyrstwo... stary przyjacielu!<br />
Podzielam, mówię, gorącość i zapał,<br />
Których-em z dziejów twych usty nałapał.</p>

<p>III</p>
<p>Dziecina - pomnę - nad ciemnawą kartą<br />
(Bo nawet odcień pamiętam papieru)<br />
Schylony - z głową oburącz podpartą,<br />
O! ileż, ileż ciągnąłem eteru<br />
Z czytania, z księgi, z możności czytania? -<br />
I jak smutnawo było mi dokoła,<br />
Kiedy już świeca gasła (rzecz tak tania!...)<br />
Albo gdy z starszych kto nagle zawoła,<br />
Albo gdy widzę już, że kilka tylko<br />
Arkuszy - tak że końca dotkniesz szpilką!...</p>

<p>IV</p>
<p>Czylim cię kochał i czy prawdę piszę,<br />
To wiedz ze wspomnień, które tu skreśliłem,<br />
Bom niepiśmienny ja i mało grzészę<br />
Twórczością: piszę - śpiewam - tak jak żyłem...</p>

<p>V</p>
<p>To tak!...więc stajesz mi znów przed oczyma,<br />
Jak ongi, rdzawą osłonięty zbroją,<br />
I smutek budzisz, co się wężem zżyma,<br />
Bo i ja miałem Dulcyneę moją!</p>

<p>VI</p>
<p>To tak!... a śmiechu nie ma w tym, oj! nie ma-<br />
Dla widzów chyba i dla czytelników,<br />
Lecz dla nas? - mówię: dla nas, co obiema<br />
Rękami nikłych walczym rozbójników,<br />
Oswobodzając księżniczkę zaklętą -<br />
Ból, spieka, gorycz i marsz drogą krętą.</p>

<p>VII</p>
<p>A śmiech? - to potem w dziejach - to potomni<br />
Niech się uśmieją, że my tacy mali,<br />
A oni szczęśni tacy i ogromni,<br />
I czyści, i tak zewsząd okazali...</p>

<p>VIII</p>
<p>A oni? - że tak zniskąd nie zdradzani<br />
Po paradyzie latają w promieniach<br />
Z Beatryksami swymi - rozkochani -<br />
W purpurze, w wieńcach i w drogich kamieniach,<br />
Co odśmiechują się niebieskim ciałom<br />
I oczom - i otwartym w strop aż na wskroś Chwałom!</p>

<p>IX</p>
<p>Szczęść-że im, Panie. . . . . . . . . . . . . .</p>

<p>X</p>
<p>...a my - kawalery błędne,<br />
Bez giermków, z wstęgą na piersi czerwoną,<br />
Przez mokre lasy, przez lasy żołędne,<br />
Ciągniemy przędzę z dala zaczepioną<br />
U przekreślonych szyb żelazną kratą,<br />
U najeżonych bram wściekłą armatą...</p>

<p>XI</p>
<p>Raz smoków stado, grzejące się cicho<br />
Na wygorzałej od jadu darninie;<br />
Drugi raz psotny gnom brzozową wiéchą<br />
Około nozdrza koniowi zawinie;<br />
A indziej panna z wieży woła chustką;<br />
A indziej szary wąż z żółtą wypustką...</p>

<p>XII</p>
<p>Przez jakich ścieżek bo chadzałem krocie<br />
Z ogromną dzidą, co gałęzie kruszy,<br />
Ty jeden, wielki znasz to, Don Kichocie,<br />
Jednego ciebie to wspomnienie wzruszy,<br />
Bo gawiedź śmiać się będzie wielolica,<br />
Niewarta ostróg z la Manczy szlachcica!</p>

<p>XIII</p>
<p>A Dulcynea moja - o! prze-chrobry<br />
Rycerzu - wiedz, że w swojej ona<br />
Osobie nigdy mi nie odsłoniona;<br />
- Chyba że wietrzyk jaki, wietrzyk dobry,<br />
Uchyli czasem kwefu i nad włosem<br />
Rumianych grono gwiazd pokaże z dala,<br />
Albo obrączkę tęczową z opala,<br />
Albo obuwia, co się bawi z wrzosem<br />
Kwitnącym, rąbek mały, taki mały<br />
Jak najdrobniejsza koncha perłowana...</p>

<p>XIV</p>
<p>To wszystko!... ptaki często mi śpiewały,<br />
Że już zbudzona i odczarowana<br />
Pomiędzy smoki wychodzi z wieżyce,<br />
Że lampę trzyma w ręku, a potwory,<br />
Nie mogąc światła znieść, w ziemię się ryją,<br />
Skrzydłami w ciasne łopoczą piwnice<br />
I klną, i gardła rozdzierają... wyją...</p>

<p>XV</p>
<p>Ale cóż? - ptaki, co im się przywidzi,<br />
To wyśpiewują, przysiadłszy na tarczy<br />
Albo na hełmie moim - a duch widzi,<br />
Że kłamią - prawda jedynie wystarczy<br />
Nam, co za prawdą gonim, Don Kichotom,<br />
Przeciwko smokom, jadom, kulom, grotom!...</p>