<h1>Art Work</h1>

<strong>Norwid's life was rich with artistic work.</strong>

<p>His artistic range stretched to include drawings and paintings.</p>
<p><a href="https://polona.pl/items/?filters=creator:%22Norwid,_Cyprian_Kamil_(1821--1883)%22,public:0,hasTextContent:0">Biblioteka Narodowa</a> makes available digital versions of original manuscripts and drawings by Cyprian Norwid.</p>
<div style="clear:all;margin:80px">
<center><img src="solo.jpg" alt="Solo" /></center>
<br />
<center><img src="wanderer.jpg" alt="The Wanderer" /></center>
<br />
<center><img src="fragment.jpg" alt="Fragment" /></center>
<br />
<center><img src="noce_junga.jpg" alt="Noce Junga" /></center>
<br />
<center><img src="des_ruines.jpg" alt="Des Ruines" /></center>
<br />
<center><img src="face.jpg" alt="Face" /></center>
</div>
