<h1>Biography</h1>
<strong>Cyprian Norwid His Life & Times</strong>

<h2>Important Dates</h2>
<h3>1821</h3>
<p>Cyprian Norwid was born on 24 September 1821 in Laskowo-Głuchy a village near Warsaw. Being an orphan from early childhood, he was raised by his grandmother Hilaria Zdziechowska. Together with his older brother Ludwik (a poet) he attended a Warsaw grammar school in the years 1831-1832 and 1834-1837.</p>

<p>When he was in the fifth form he left school and enrolled at a private painting school. In later years he would fill the gaps in his education by accumulating knowledge in various fields of history, modern European civilisation, painting and sculpture.</p>

<h3>1840</h3>
<p>He made his debut as a poet in 1840 on the pages of Warsaw newspapers.</p>

<h3>1842</h3>
<p>In September 1842 he went abroad, never to come back to Poland. Travelling round Europe, Norwid visited Dresden, Nuremberg, Munich, Verona, Ferrara and Florence. In Florence he enrolled at the sculpture department of the Fine Art Academy. He also visited Naples and Rome.</p>

<h3>1845</h3>
<p>In 1845 in Rome, during the Confirmation ceremony, he took the name Kamil (referring to the Roman commander Marcus Furius Camillus); he would sign his works "Cyprian Kamil Norwid", emphasising in this way his fictitious "Roman origin".</p>

<p>In 1845 he also met Maria Kalergis and her companion Maria Trembicka. He fell in love with Miss Kalergis - one of the most fashionable women in Europe at that time, among others courted by Franz Liszt - and accompanied by the two women he went on a trip round Italy, disregarding his financial situation.</p>

<h3>1846</h3>
<p>On 10 June 1846 he was arrested in Berlin and was kept in prison till the end of July. Once he was released, he went to Brussels and later to Rome. There he met Adam Mickiewicz and became friends with Zygmunt Krasiński.</p>

<h3>1848</h3>
<p>In May 1848, Norwid was granted an audience by Pope Pius IX.</p>

<h3>1849</h3>
<p>In 1849 he came to Paris, where he met Juliusz Słowacki, Fryderyk Chopin and Bohdan Zaleski. He participated in the activities of the emigration parties but his public speeches were becoming more and more troublesome, for example for the Hotel Lambert party of Prince Adam Czartoryski. His financial situation was getting worse; he had to rely on allowances from Zygmunt Krasiński and August Cieszkowski.</p>

<h3>1851</h3>
<p>In 1851 Norwid came into conflict with Krasiński and sent back his letters.</p>

<h3>1852</h3>
<p>On 29 November 1852 he went to London in order to board a ship to New York.</p>

<p>Despite trying various kinds of casual work, his financial situation in America became hopeless; he sent dramatic letters to his friends and to the Order of Resurrection, asking for help.</p>

<h3>1854</h3>
<p>Finally on 24 June 1854 he set off on the return journey to Europe on a steamship. In December 1854 he came back to Paris, where he was to stay till the end of his life. He ran into great poverty, the conflicts with his friends would escalate also due to his aggravating deafness.</p>

<h3>1877</h3>
<p>In February 1877 he was forced to move to Ivry and live in the St Casimirus Pension, a place where Polish orphans and veterans would stay (and where Tomasz August Olizarowski - a poet, author of the poems Bruno and Zawerucha stayed as well).</p>

<h3>1883</h3>
<p>Norwid died on the 23 May 1883. After his death, the room he stayed in was tidied up and the papers he had in his trunk were burnt.</p>

<p>He was buried in the cemetery in Ivry, but after five years the concession expired and his remains were moved to a common Polish grave at the cemetery in Montmorency; and later - when this fifteen-year concession expired - to a common grave of Hotel Lambert occupants.</p>

<p>His poetic debut in the Polish newspapers was met with approbation by the literary critics of that time, however, it soon became clear that his works had little to do with the poetry of the second generation of Romantics and his views did not fit the programmes of the political parties of the emigration and also had little in common with the programme of Polish Positivism.</p>

<h3>1897</h3>
<p>The works of Norwid were rediscovered in 1897, when Zenon Przesmycki-Miriam happened to find his collection of poems Poezyje.</p>

<h3>1971</h3>
<p>The full edition of the Complete Works of Norwid was published only in the years 1971-1976.</p>

<p>Cyprian Norwid, a poet, a prose-writer, a playwright, a painter, an engraver and a philosopher, often expressed his opinion on various topics, philosophy included, conducted a dispute in all forms of his works on aspects of modern civilisation, the civilisation of the 19th century, and engaged in a dialogue with Polish Romanticism - he rejected the intellectual and philosophical values of Positivism as not being worthy of serious consideration.</p>

<p>In the second half of the 19th century, Norwid, who argued with Darwin’s views, and engaged in philological consideration so typical for the Romantics, was considered a weird person or at best pitiable.</p>

<p>His unique concept of poetry, which was based on the parabolic structure and used the special kind of irony as well as the concept of silence and high tragedy, has only recently gained appreciation and attempts at interpretation.</p>

<p>Norwid's social views show many analogies to the works of current critics of mass culture.</p>

<h3>2001</h3>
<p>Cyprian Norwid On 24 September 2001, 118 years after his death in France, Cyprian Kamil Norwid, one of the great Polish poets and European thinkers, was symbolically returned to his native land and laid to rest in Kraków, Poland.</p>

<p>An urn containing soil from the collective grave, in which he had been buried at the cemetery in the Paris suburb of Montmorency, was enshrined in the "Crypts of the Bards" next to the remains of Adam Mickiewicz and Juliusz Slowacki in Wawel Cathedral.</p>

<p>The Zygmunt Bell, which is heard only when events of great significance to the Church and Poland occur, resounded to mark the poet's return.</p>