<h1>Cyprian Kamil Norwid</h1>
<strong>Cyprian Kamil Norwid was a Polish writer (1821-1883).</strong>

<p>His work, rediscovered today, provides an insight into the mind of an artist trying to make sense of the world in his unique way - through his religion, upbringing, language and history.</p>

<p>Having his work read by future generations was one of his hopes.</p>