     <ul class="navbar">
     	<li><a href='/' class='nav'>HOME</a> | </li>  
      	<li><a href='/bio' class='nav'>BIOGRAPHY</a> | </li>
      	<li><a href='/poems' class='nav'>POEMS</a> | </li>
        <li><a href='/music' class='nav'>MUSIC</a> | </li>
         <li><a href='/art' class='nav'>ART</a> | </li>
         <li><a href="https://github.com/osuchted/">Github</a></li>
      </ul>