<h1>OOOOPS!!</h1>
<h2>Use the navigation to continue to a known <strong>solar system</strong></h2>
<!--Only works for page "off" root e.g. localhost:4567/xxx-->
<!--loses paths when page "off" exsiting page e.g. -->
<!-- localhost:4567/art/badpage-->
<!--To fix-->