<h1>Poems</h1>
<strong>Selected Poems</strong>
<p>A selection of Norwid's poems not included in the Vade-mecum collection.</p>
<ul>
	<li><a href="1">DAJ MI WSTĄŻKĘ BŁĘKITNĄ</a></li>
	<li><a href="2">MOJA PIOSNKA II</a></li>
	<li><a href="3">AERUMNARUM PLENUS</a></li>
	<li><a href="4">DO OBYWATELA JOHNA BROWN</a></li>
	<li><a href="5">DO MEGO BRATA LUDWIKA</a></li>
	<li><a href="6">EPOS-NASZA</a></li>
</ul>